            <input
              type="text"
              id="idea"
              name="idea"
              placeholder="Type your new idea here..."
              class="flex-grow p-2 text-lg border-2 border-gray-300 rounded focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500 transition duration-200 ease-in-out"
              hx-trigger="keyup[key=='Enter']"
              hx-post="/idea"
              hx-include="[name='idea']"
              hx-swap="afterbegin"
              hx-target="#idea-list"
              autofocus
            />
            <button 
                type="button" 
                class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-150 ease-in-out"
                hx-post="/idea" 
                hx-include="[name='idea']"
                hx-swap="afterbegin"
                hx-target="#idea-list"
                hx-indicator="Saving..."
            >
              Submit
            </button>
